* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  border: 12px double brown;
  padding: 1.5rem;
  font-size: 1.5rem;
  margin: 1.5rem;
  outline: 5px solid rgb(234, 0, 255);
  outline-offset: 5px;
}
