body {
  color: hsl(180, 50%, 100%);
}

.para1 {
  color: grey;
  background-color: aqua;
}
#para2 {
  color: black;
  background-color: antiquewhite;
}
p {
  color: rgb(43, 43, 17);
}
a[href] {
  color: rgb(72, 117, 5);
}
a[href^="https"] {
  color: red;
}
.profile-link:hover {
  color: darkblue;
}
.profile-list li:nth-child(even) {
  background-color: aqua;
}
p::before {
  content: "👉";
  color: orange;
}
p::after {
  content: "🔥";
  color: red;
}
h1,
h2,
p {
  color: greenyellow;
}
div > p {
  color: peru;
}
h2 + p {
  background-color: black;
}
.profile-sec {
  background-color: grey;
}
.body {
  border-width: 5px;
  border-style: dotted;
  border-color: black;
}
#para2 {
  border-width: 3px;
  border-color: blue;
  border-style: solid;
  border-radius: 10px;
}
