.para1 {
  color: grey;
  background-color: aqua;
}
#para2 {
  color: black;
  background-color: antiquewhite;
}
p {
  color: rgb(43, 43, 17);
}
a[href] {
  color: rgb(72, 117, 5);
}
a[href^="https"] {
  color: red;
}
.profile-link:hover {
  color: darkblue;
}
.profile-list li:nth-child(even) {
  background-color: aqua;
}
p::before {
  content: "👉";
  color: orange;
}
p::after {
  content: "🔥";
  color: red;
}
