.para1 {
  color: grey;
  background-color: aqua;
}
#para2 {
  color: black;
  background-color: antiquewhite;
}
p {
  color: rgb(43, 43, 17);
}
a[href] {
  color: rgb(72, 117, 5);
}
a[href^="https"] {
  color: red;
}
